@import '../../const.scss';

.wrap {
  min-height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-color);
  padding: 0 32px;
  gap: 20px;

  @media (max-width: $MOBILE_WIDTH) {
    padding: 0 10px;
  }

}

.logoWrap {
  display: flex;
  justify-content: center;
  gap: 24px;
  align-items: center;
}

.logoImg {
  width: 48px;
  height: 48px;
}

.logoText {
  color: var(--white);
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;

  @media (max-width: $MOBILE_WIDTH) {
    display: none;
  }
}

.avatarWrap {
  display: flex;
  justify-content: center;
  gap: 24px;
  align-items: center;
}

.avatarLogo {
  width: 48px;
  height: 48px;
}

.avatarText {
  color: var(--white);
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;

  @media (max-width: $MOBILE_WIDTH) {
    display: none;
  }
}

.burgerMenu {
  background-color: rgba(var(--white), 0);
  border: none;
  cursor: pointer;
  width: 48px;
  height: 48px;
  display: flex;
  flex-direction: column;
  gap: 7px;

  &>div {
    background-color: var(--white);
    height: 100%;
    width: 100%;
    border-radius: 3px;
  }

}
