.wrap {
  box-shadow: 0px 2px 8px rgba(2, 0, 97, 0.25);
  border-radius: 10px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.title {
  font-weight: 700;
  font-size: 26px;
  line-height: 32px;
}

.addressList {
  list-style: none;

  &>li {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    border-top: 1px solid #D7D7D7;
    min-height: 56px;
    display: flex;
    align-items: center;
  }
}
