.wrapNavLink {
  display: flex;
  align-items: center;
  gap: 20px;
  text-decoration: none;
  width: 100%;
}

.wrapNavLinkActive {
  &>:local.svgWrap>svg {
    fill: #4F27BF !important;
  }

  &>:local.text {
    color: #4F27BF !important;
    ;
  }
}

.wrapButton {
  display: flex;
  align-items: center;
  gap: 20px;
  text-decoration: none;
  width: 100%;
  background-color: rgba(#fff, 0);
  border: none;
  cursor: pointer;
}



.svgWrap {
  &>svg {
    fill: #1C1C1E;
    width: 32px;
    height: 32px;
  }
}



.text {
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-align: start;
}


.childrenWrap {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 48px;
}


.childrenIndicator {

  display: flex;
  margin: auto 0 auto auto;
}

.childrenIndicatorOpen {
  transform: rotateX(180deg);
}
